html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  margin-top: 10px;
  width: 100%;
  padding: 10px 10px;
}

h1 {
  text-align: center;
}

.App {
  background: #e3e3e3;
}
.Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ChatBox ul {
  border: 1px solid #ccc;
  background: #fff;
  height: 400px;
  width: 500px;
  padding: 20px;
  overflow: auto;
}

.ChatBox .User {
  margin-right: 10px;
}

h1 {
  margin-bottom: 20px;
}

.LoginForm {
  background: #fff;
  padding: 20px;
}

.LoginForm label {
  display: block;
  font-size: 18px;
}

.MessageItem {
  background: #ece5dd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.MessageItem.Current {
  background: #dcf8c6;
}
