html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

input {
  padding: 10px 10px;
  border: 1px solid #ccc;
}

.App {
  background: #e3e3e3;
}

.Container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.ChatRoom {
  display: flex;
}

.ChatRoom .MessagesList {
  border: 1px solid #ccc;
  background: #fff;
  height: 400px;
  width: 500px;
  padding: 20px;
  overflow: auto;
}

.ChatRoom .User {
  margin-right: 10px;
}

.ChatRoom form {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.ChatRoom input {
  flex: 1;
}

.ChatRoom button {
  height: 36px;
  border: 1px solid #1f6d90;
  border-left: none;
  padding: 0 10px;
  background: #1f6d90;
  color: #fff;
  cursor: pointer;
}

.ChatRoom button:hover,
.ChatRoom button:active,
.ChatRoom button:focus {
  background: #000;
}

.LoginForm {
  background: #fff;
  padding: 20px;
}

.LoginForm label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.MessageItem {
  background: #ece5dd;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.MessageItem.Current {
  background: #dcf8c6;
}

.UsersList {
  background: #fff;
  margin-right: 10px;
  flex: 0 0 200px;
  padding: 20px;
  border: 1px solid #ccc;
}
.UsersList h3 {
  margin-bottom: 10px;
}
.UsersList li {
  padding: 10px;
  background: lemonchiffon;
  margin-bottom: 5px;
}

.Avatar {
  border-radius: 50%;
  position: relative;
  top: 5px;
  margin-right: 5px;
  width: 20px;
}
